<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "A Propos", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://elearning.nexeo.fr/">e-learning</a></li>
      <li><a href="http://nexeo.fr/intranetHome.html">intranet</a></li>
    </ul>
  </nav>
</footer>